[submodule "external/SDL"]
	path = external/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "bgfx.cmake"]
	path = external/bgfx.cmake
	url = https://github.com/bkaradzic/bgfx.cmake.git
[submodule "dependencies/stb"]
	path = dependencies/stb
	url = https://github.com/nothings/stb.git