# Auto detect text files and perform LF normalization
* text=auto
libglslangDebug.a filter=lfs diff=lfs merge=lfs -text
libspirv-optDebug.a filter=lfs diff=lfs merge=lfs -text
libspirv-optRelease.a filter=lfs diff=lfs merge=lfs -text
